<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyze</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/analyze.css') }}">
</head>

<body>
    <div id="main-container">
        <div id="main-box">
            <h2>Upload Your Media to get Started</h2>
            <div id="upload-container">
                <div class="upload-block" id="uploadBlock1" onclick="document.getElementById('imageInput1').click();">
                    <p>Upload User Media</p>
                    <input type="file" id="imageInput1" accept="image/*" style="display: none;">
                    <div class="image-container" style="display: none;">
                        <img id="image1" style="max-width: 320px; max-height: 240px; display: block; margin: auto;"/>
                    </div>
                </div>
                <div class="upload-block" id="uploadBlock2" onclick="document.getElementById('imageInput2').click();">
                    <p>Upload Reference Media</p>
                    <input type="file" id="imageInput2" accept="image/*" style="display: none;">
                    <div class="image-container" style="display: none;">
                        <img id="image2" style="max-width: 320px; max-height: 240px; display: block; margin: auto;"/>
                    </div>
                </div>
            </div>
            <nav id="nav-buttons">
                <form action="/analyze" method="get">
                    <button class="login-button">Analyze</button>
                </form>
            </nav>
            <div id="results-container">
                <p>Results</p>
            </div>
            <div id="chatbot-container">
                <p>Chatbot</p>
            </div>
        </div>
    </div>
</body>