<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload and Analyze</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dashboard.css') }}">
</head>
<body>
    <div id="container">
        <div class="upload-section">
            <button type="button" class="upload-button" id="uploadUserButton">Upload User Input</button>
            <div class="image-preview" id="userImagePreview"></div>
            <select class="dropdown-menu" id="userDropdown">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        
        <div class="upload-section">
            <button type="button" class="upload-button" id="uploadReferenceButton">Upload Reference Input</button>
            <div class="image-preview" id="referenceImagePreview"></div>
            <select class="dropdown-menu" id="referenceDropdown">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
    </div>

    <!-- Hidden File Inputs -->
    <input type="file" id="userFileInput" accept="image/*" style="display: none;">
    <input type="file" id="referenceFileInput" accept="image/*" style="display: none;">

    <script src="{{url_for('static', filename='dashboard.js')}}"></script>
</body>
</html>
