<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/styles/login.css">
</head>
<body>
    <div class="login-container">
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='images/FormAILogo.png') }}" class="logo" alt="FormAI Logo">
        </a>               
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <form action="/login" method="post" class="login-form">
            <h2>Login</h2>
            <input type="text" placeholder="Email or Username" name="username" required>
            <input type="password" placeholder="Password" name="password" required>
            <button type="submit">Login</button>
            <p>Or <a href="/register">Register</a></p>
        </form>
        <script>
            window.onload = function() {
                var success = "{{ success }}";
                if (success === 'true') {
                    setTimeout(function() {
                        window.location.href = "{{ url_for('dashboard') }}";
                    }, 3000); 
                }
            };
        </script>
    </div>
</body>
</html>
