#upload-container {
    display: flex;
    justify-content: center;
}


.upload-block {
    width: 500px;
    height: 500px;
    border: 2px dashed #d50707;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.upload-block:hover {
    background-color: #f0f0f0;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}


.image-container img {
    max-width: 320px;
    max-height: 240px;
    display: block;
    margin: auto;
    width: 100%; /* Ensure it fills the container */
    height: 100%; /* Ensure it fills the container */
    object-fit: cover; /* This makes the image cover the space, while preserving its aspect ratio */
}

