
body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px
}

#first-viewport-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.highlight {
    color: blue;
}

#background-image {
    position: fixed;
    opacity: 0.2;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

.header {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 50px;
    width: auto;
}

#nav-buttons {
    display: flex;
    flex-direction: row;
}

#nav-buttons form {
    padding-left: 30px;
}

.login-button, .get-started-button, .features-button{
    width: 200px;
    height: 50px;
    border: none;
    cursor: pointer;
}

.login-button{
    background-color: transparent;
    border: 2px solid blue;
}

.get-started-button, .features-button {
    background-color: blue;
    color: white;
}

#main-content {
    display: flex;
    padding: 50px 50px 0;
    justify-content: space-between;
    align-items: flex-start;
}

#main-content-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main-content-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#featured_coach_container {
    text-align: center;
}

#main-content-right img {
    width: 70%;
    text-align: center;
    height: auto;
    border-radius: 10px;
}

#how-it-works {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
}

#step-list {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.step {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 10px;
}

.step img {
    width: 50px;
    height: 50px;
}

#pricing-container {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
}

.pricing-tiers {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.pricing-plan {
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.pricing-plan h2 {
    margin-top: 0;
    color: #333;
}
  
.price {
    font-size: 36px;
    color: blue;
    margin: 20px 0;
}
  
.pricing-plan .features {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
  
.pricing-plan .features li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
  
.buy-now {
    background: #1a73e8;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    margin-top: 20px;
}
  

.standout .buy-now {
    background: #4e8cf7;
}
  
