body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.highlight {
    color: blue;
}

#background-image {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* This will push the nav to the right */
}

.logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    padding-left: 30px;
}

.header nav {
    padding-right: 30px;
}

#nav-buttons {
    display: flex;
    flex-direction: row;
}

#nav-buttons form {
    padding-left: 30px;
}

.login-button, .get-started-button, .features-button{
    width: 200px;
    height: 50px;
    border: none;
    cursor: pointer;
}

.login-button{
    background-color: transparent;
    border: 2px solid blue;
}

.get-started-button, .features-button {
    background-color: blue;
    color: white;
}

#main-content {
    display: flex;
    padding: 30px 30px 0px 30px;
}

#main-content-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main-content-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#main-content-left p {
    size: 18px;
}

#main-content-right img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#how-it-works {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

#step-list {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.step {
    padding-right: 10px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.step img {
    width: 50px;
    height: 50px;
}
